/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017.07.20., 6:10:46
    Author     : Kornel
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 20px auto;
}

#main { background: #eee }



#header {
    display: block;
    height: 20%;
    width: 100%;
    background: #fff;
}

#header .title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.title .text{
    font: x-large sans-serif;
    margin-left: 10px;
}

#header .image{
    
}

.title .logo
{
    width: 150px;
    height: 100px;
    margin-left: 10px;
}

.title .text, .title .image{
    display: inline-flex;
    vertical-align: middle;
}


#logoBig {
    height: 225px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    vertical-align: middle

}

.logo{
    background: url("/CornerStone/img/cornerstone-logo-normal.jpeg") no-repeat;
    background-size: contain;
}

.ribbon{
    display: flex;
    background-color: #4CAF50;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ribbon .text{
    display: inline-flex;
   color: white; 
   margin-left: 10px;
}

.ribbon .button{
    display: inline-flex;
    margin-right: 10px;
}



#indexLeftColumn {
    height: 80%;
    width: 20%;
    float:left;
    background: #fff;
}

#indexRightColumn {
    height: 80%;
    width: 80%;
    float:left;
    background: #fff;
}

#indexRightColumn .pageTitle{
    font: x-large sans-serif;
    font-weight: bold;
    text-align: center;
}

#loginBox {
    width: 300px;
    float: left;
    margin: 70px;
    text-align:left;
}

#form-header{
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

input[type=text], input[type=password]{

    padding: 7px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    
    border-radius: 3px;
    outline: none;
}



.button1{
    /*Green background*/
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 6px 6px;
    text-decoration: none;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}

.verticalMenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}
.hoverdown-content.collapsed{
    display:none;
}

.hoverdown-content.expanded{
    display:block;
}

.hoverdown-content {
    /*display:none;*/
    /*position: absolute;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    */
}

li#admin:hover .hoverdown-content{
    display:block;
}

.myIncidentsGrid, .groupIncidentsGrid{
    display:block;
    margin-top: 30px;
}

.incident{
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    */
    display: block;
    margin-left: 5px;
    /*
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    */
}

.incidentColumn{
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-left: 10px;
    /*display: inline-flex;*/
}

.formitem{
    clear: both;
    display: block;
    line-height: 40px; 
    height: 40px;
    
    
    
}

.formitem label{
   float:left;
    margin-right: 10px;
}

.formitem input[type=text]{
   /* clear: both;*/
    float:right;
}

.colTitle{
    font: x-large sans-serif;
    text-align: center;
}

.incident input[type=submit]{
    float:left;
}

.worklog, .table, .modify-buttons, .admin-fields{
    clear: both;
    
    display:block;
    float:left;
}




